
nav{
    display: flex;
    color: rgb(231, 231, 231);
    background-color: rgb(15, 14, 14);
    align-items: center;
    
}

nav #logo img{
    width: 100px;
    height: auto;
    padding: 10px;
}

nav #Tittle{
    flex: 1;
    text-align: center;
}

nav #Tittle h1{
    font-size: 40px;
}